asgiref==3.5.0
beautifulsoup4==4.11.1
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
comtypes==1.1.11
Django==3.2.12
dnspython==2.2.1
GoogleTran==1.0
gTTS==2.2.4
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==4.11.3
numpy==1.21.5
packaging==21.3
Pillow==9.1.0
PyAudio==0.2.12
PyDictionary==2.0.1
pygame==2.1.2
pymongo==3.12.3
pyparsing==3.0.8
PyPDF2==1.27.9
pypiwin32==223
pytesseract==0.3.9
pyttsx3==2.90
pytz==2022.1
pywin32==303
requests==2.27.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2
SpeechRecognition==3.9.0
sqlparse==0.2.4
typing_extensions==4.1.1
urllib3==1.26.9
winspeech==1.0.1
zipp==3.8.0
